<div id="edit-profile-page">

    <h1>Edit profile</h1>

    {{#if errorMessage }}
        <p class="error-message">{{ errorMessage }}</p>
    {{/if}}

    <form action="/profile/{{ user.username }}/edit" method="POST" enctype="multipart/form-data" class="edit-profile-form">
        

        <div class="flex-row-responsive">
            <div>
                <div class="flex-row-responsive">
                    <div>
                        <label for="firstName">First Name:</label>
                        <input type="text" name="firstName" id="firstName" placeholder="First Name" value="{{ user.firstName }}" required /><br />
                    </div>
                <div>
                        <label for="lastName">Last Name:</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="{{ user.lastName }}" required /><br />
                    </div>
                </div>


                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" value="{{ dateOfBirth }}" required /><br />
                
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" placeholder="Location" value="{{ user.location }}" autocomplete="off" required />
                <div class="autocomplete">
                </div>
                <br />
            </div>
            <div>
                <div class="flex-row">
                    <div style="background-image:url('{{ avatarUrl }}')" class="profile-pic"></div>
                    <label for="avatar" class="secondary-button"><i class="bi bi-upload"></i> Upload a profile picture</label>
                    <input type="file" name="avatar" id="avatar" />
                </div><br />
                <label for="bio">Bio:</label>
                <textarea name="bio" id="bio" placeholder="Bio">{{ user.bio }}</textarea /><br />
            </div>
        </div>

        
        


        <input type="submit" value="Edit profile" class="button" />
    </form>

</div>