<div id="profile-page">

    <div class="profile">
        <div class="profile-avatar">
            <div style=" background-color: white;background-image:url('{{ avatarUrl }}');" class="profile-pic"></div>
        </div>
        <div class="profile-infos">
            <h1>{{ user.username }}</h1>
            <p class="stats">
                <span class="stats-rooms">{{ roomsCount }}</span>
                <span class="stats-plants">{{ plantsCount }}</span>
            </p>
            <p><i class="bi bi-geo-alt-fill"></i> <b>{{ user.location }}</b></p>
            <p>{{ user.bio }}</p>
        </div>
    </div>

    <div class="profile-content">

        {{#if userOwnProfile}}
            <div class="weather-infobox">
                <img src="{{ sessionSpecificData.weatherIconUrl }}" />
                <p>
                    <b>Hello, {{ loggedInUsername }}!</b> Today, {{ sessionSpecificData.weatherConditions }} in {{ sessionSpecificData.weatherLocation }}, today (the temperature is {{ sessionSpecificData.weatherTemperature }}°C). Take good care of your plants! 🌺🌿
                </p>
            </div>
        {{/if}}

        <div id="filters">
            <div class="filters-rooms">
                <p>Filter by rooms</p>
                {{#if userOwnProfile}}
                    {{#each user.rooms}}
                        <div class="filter-button selected" room-name="{{ this.slug }}">{{ this.name }}</div>
                    {{/each}}   
                    <div class="filter-button selected" room-name="friends-rooms">Friends' Rooms</div>
                {{else}}
                    {{#each sessionSpecificData.allowedRooms }}
                        <div class="filter-button selected" room-name="{{ this.slug }}">{{ this.name }}</div>
                    {{/each}}
                {{/if}}
            </div>
            {{#if userOwnProfile}}
                <div class="profile-actions">
                    <a href="/plants/create" class="secondary-button">Add a plant</a>
                    <a href="/rooms" class="secondary-button">Manage rooms</a>
                </div>
            {{/if}}
        </div>

        <p class="plants-count"></p>

        <div id="plants">
            {{#if userOwnProfile}}
                {{#each user.plants}}
                    {{!-- {{this}} --}}
                    <div class="plant" room-name="{{ this.room.slug }}">
                        <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                            <div class="plant-actions">
                                <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </div>
                        <div class="card-title">
                            <h2>{{this.nickname}}</h2>
                            <span class="plant-room">{{ this.room.name }}</span>
                        </div>
                        <div class="card-content">
                            <p class="flex-row">
                                <span class="card-icon">
                                    <i class="bi bi-flower1"></i>
                                </span>
                                <span>
                                    <span class="card-label">Common / Latin names</span><br/>
                                    {{ this.commonName }}<br/>
                                    <i>{{ this.latinName }}</i>
                                </span>
                            </p>
                            <p class="flex-row">
                                <span class="card-icon">
                                    <i class="bi bi-brightness-high"></i> 
                                </span>
                                <span>
                                    <span class="card-label">Ideal Lighting</span><br/>
                                    {{ this.light }}
                                </span>
                            </p>
                            <p class="flex-row">
                                <span class="card-icon">
                                    <i class="bi bi-brightness-low"></i>
                                </span>
                                <span>
                                    <span class="card-label">Tolerated light</span><br/>
                                    {{ this.toleratedLight }}
                                </span>
                            </p>
                            <p class="flex-row">
                                <span class="card-icon">
                                    <i class="bi bi-droplet"></i>
                                </span>
                                <span>
                                    <span class="card-label">Water schedule</span><br/>
                                    {{ this.waterSchedule }}
                                </span>
                            </p>
                            <p class="flex-row">
                                <span class="card-icon">
                                    <i class="bi bi-thermometer-half"></i>
                                </span>
                                <span>
                                    <span class="card-label">Temperature</span><br/>
                                    {{ this.maxTemp }}°C to {{ this.minTemp }}°C
                                </span>
                            </p>
                        </div>
                    </div>
                {{/each}}
                {{#each sessionSpecificData.friendsRooms }}
                    {{#each this.plants }}
                        <div class="plant" room-name="friends-rooms">
                            <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                                <div class="plant-actions">
                                    <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                                </div>
                            </div>
                            <div class="card-title">
                                <h2>{{this.nickname}}</h2>
                                <span>
                                    <span class="plant-room">{{ this.parent.username }}</span>
                                    <img src="{{ this.parent.avatarUrl }}" alt="" class="card-invitee" /> 
                                </span>
                            </div>
                            <div class="card-content">
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-flower1"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Common / Latin names</span><br/>
                                        {{ this.commonName }}<br/>
                                        <i>{{ this.latinName }}</i>
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-brightness-high"></i> 
                                    </span>
                                    <span>
                                        <span class="card-label">Ideal Lighting</span><br/>
                                        {{ this.light }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-brightness-low"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Tolerated light</span><br/>
                                        {{ this.toleratedLight }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-droplet"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Water schedule</span><br/>
                                        {{ this.waterSchedule }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-thermometer-half"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Temperature</span><br/>
                                        {{ this.maxTemp }}°C to {{ this.minTemp }}°C
                                    </span>
                                </p>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                {{#each sessionSpecificData.allowedRooms }}
                    {{#each this.plants }}
                        <div class="plant" room-name="{{ ../this.slug }}">
                            <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                                <div class="plant-actions">
                                    <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                                </div>
                            </div>
                            <div class="card-title">
                                <h2>{{this.nickname}}</h2>
                                <span class="plant-room">{{ ../this.name }}</span>
                            </div>
                            <div class="card-content">
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-flower1"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Common / Latin names</span><br/>
                                        {{ this.commonName }}<br/>
                                        <i>{{ this.latinName }}</i>
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-brightness-high"></i> 
                                    </span>
                                    <span>
                                        <span class="card-label">Ideal Lighting</span><br/>
                                        {{ this.light }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-brightness-low"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Tolerated light</span><br/>
                                        {{ this.toleratedLight }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-droplet"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Water schedule</span><br/>
                                        {{ this.waterSchedule }}
                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span class="card-icon">
                                        <i class="bi bi-thermometer-half"></i>
                                    </span>
                                    <span>
                                        <span class="card-label">Temperature</span><br/>
                                        {{ this.maxTemp }}°C to {{ this.minTemp }}°C
                                    </span>
                                </p>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{/if}}
        </div>

    </div>

</div>