
{{#if userOwnProfile}}
    <div class="weather-infobox">
        <img src="{{ sessionSpecificData.weatherIconUrl }}" />
        <p>
            {{ sessionSpecificData.weatherConditions }} in {{ sessionSpecificData.weatherLocation }}, today. The temperature is {{ sessionSpecificData.weatherTemperature }}°C. Take good care of your plants!
        </p>
    </div>
{{/if}}

<div id="profile-page">

    <div class="profile">
        <div class="profile-avatar">
            <div style=" background-color: white;background-image:url('{{ avatarUrl }}');" class="profile-pic"></div>
        </div>
        <div class="profile-infos">
            <h1>{{ user.username }}</h1>
            <p class="stats">
                <span class="stats-rooms">{{ roomsCount }}</span>
                <span class="stats-plants">{{ plantsCount }}</span>
            </p>
            <p><i class="bi bi-geo-alt-fill"></i> <b>{{ user.location }}</b></p>
            <p>{{ user.bio }}</p>
        </div>
    </div>

    <div class="profile-content">

        <div id="filters">
            <div class="filters-rooms">
                <p>Filter by rooms</p>
                {{#if userOwnProfile}}
                    {{#each user.rooms}}
                        <div class="filter-button selected" room-name="{{ this.slug }}"><i class="bi bi-check-lg"></i> {{ this.name }}</div>
                    {{/each}}   
                    <div class="filter-button selected" room-name="friends-rooms"><i class="bi bi-check-lg"></i> Friends' Rooms</div>
                {{else}}
                    {{#each sessionSpecificData.allowedRooms }}
                        <div class="filter-button">{{ this.name }}</div>
                    {{/each}}
                {{/if}}
            </div>
            {{#if userOwnProfile}}
                <div class="profile-actions">
                    <a href="/plants/create" class="secondary-button">Add a plant</a>
                    <a href="/rooms" class="secondary-button">Manage rooms</a>
                </div>
            {{/if}}
        </div>

        <p class="plants-count"></p>

        <div id="plants">
            <p class="no-plants" style="display:none;">No rooms selected!</p>
            {{#if userOwnProfile}}
                {{#each user.plants}}
                    {{!-- {{this}} --}}
                    <div class="plant" room-name="{{ this.room.slug }}">
                        <div class="card-header">
                            <h2>{{this.nickname}}</h2>
                            <div class="plant-actions">
                                <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </div>
                        <div>
                            <p>{{ this.commonName }}</p>
                            <img src="{{ this.image_url }}" alt="">
                            <p>{{ this.light }}</p>
                            <p>{{ this.toleratedLight }}</p>
                            <p>{{ this.waterSchedule }}</p>
                            <p>{{ this.minTemp }}</p>
                            <p>{{ this.maxTemp }}</p>
                            <p>{{ this.latinName }}</p>
                        </div>
                    </div>
                {{/each}}
                {{#each sessionSpecificData.friendsRooms }}
                    {{#each this.plants }}
                        <div class="plant" room-name="friends-rooms">
                            <div class="card-header">
                                <h2>{{this.nickname}}</h2>
                                <div class="plant-actions">
                                    <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                                </div>
                            </div>
                            <div>
                                <p>{{ this.commonName }}</p>
                                <img src="{{ this.image_url }}" alt="">
                                <p>{{ this.light }}</p>
                                <p>{{ this.toleratedLight }}</p>
                                <p>{{ this.waterSchedule }}</p>
                                <p>{{ this.minTemp }}</p>
                                <p>{{ this.maxTemp }}</p>
                                <p>{{ this.latinName }}</p>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                {{#each sessionSpecificData.allowedRooms }}
                    <div class="filter-button">{{ this.name }}</div>
                {{/each}}
            {{/if}}
        </div>

    </div>

</div>