<div class="profile">
    <div class="profile-avatar">
        <div style="background-image:url('{{ user.avatarUrl }}')" class="profile-pic"></div>
    </div>
    <div class="profile-infos">
        <h1>{{ user.username }}</h1>
        <p class="stats">
            <span class="stats-rooms">{{ roomsCount }}</span>
            <span class="stats-plants">{{ plantsCount }}</span>
        </p>
        <p><i class="bi bi-geo-alt-fill"></i> {{ user.location }}</p>
        <p>{{ user.bio }}</p>
    </div>
</div>

<a href="/rooms">My rooms</a>

{{#if errorMessage}}
    <p class="error-message">{{ errorMessage }}</p>
{{/if}}