
{{#if userOwnProfile}}
    <div class="weather-infobox">
        <img src="{{ sessionSpecificData.weatherIconUrl }}" />
        <p>
            {{ sessionSpecificData.weatherConditions }} in {{ sessionSpecificData.weatherLocation }}, today. The temperature will be {{ sessionSpecificData.weatherTemperature }}°C. Take good care of your plants!
        </p>
    </div>
{{/if}}

<div id="profile-page">

    <div class="profile">
        <div class="profile-avatar">
            <div style=" background-color: white;background-image:url('{{ avatarUrl }}');" class="profile-pic"></div>
        </div>
        <div class="profile-infos">
            <h1>{{ user.username }}</h1>
            <p class="stats">
                <span class="stats-rooms">{{ roomsCount }}</span>
                <span class="stats-plants">{{ plantsCount }}</span>
            </p>
            <p><i class="bi bi-geo-alt-fill"></i> <b>{{ user.location }}</b></p>
            <p>{{ user.bio }}</p>
        </div>
    </div>

    <div class="profile-content">

        <div id="filters">
            <div class="filters-rooms">
                <p>Filter by rooms</p>
                {{#if userOwnProfile}}
                    {{#each user.rooms}}
                        <div class="filter-button">{{ this.name }}</div>
                    {{/each}}
                {{else}}
                    {{#each sessionSpecificData.allowedRooms }}
                        <div class="filter-button">{{ this.name }}</div>
                    {{/each}}
                {{/if}}
            </div>
            {{#if userOwnProfile}}
                <div class="profile-actions">
                    <a href="/plants/create" class="secondary-button">Add a plant</a>
                    <a href="/rooms" class="secondary-button">Manage rooms</a>
                </div>
            {{/if}}
        </div>

        <div id="plants">
            {{#if userOwnProfile}}
                <div class="plant add-plant">
                    <a href="/plants/create/{{user.username}}">
                        <i class="bi bi-plus-lg"></i>
                        <h2>Add a Plant</h2>
                    </a>
                </div>
            {{/if}}

            {{#if userOwnProfile}}
              {{#each user.plants}}
              <div><h2>{{this.nickname}}</h2></div>
              {{/each}}
           {{/if}}
        </div>
      </div>



    </div>

</div>
