<div id="profile-page">

    <div class="profile">
        <div class="profile-avatar">
            <div style=" background-color: white;background-image:url('{{ avatarUrl }}');" class="profile-pic"></div>
        </div>
        <div class="profile-infos">
            <h1>{{ user.username }}</h1>
            <p class="tagline">Plant-{{ user.gender }} 💚</p>
            <p class="location"><i class="bi bi-geo-alt-fill"></i> <b>{{ user.location }}</b></p>
            <p class="stats">
                <span>
                    <label>Plants</label>
                    <span class="stats-plants">{{ user.plants.length }}</span>
                </span>
                <span>
                    <label>Rooms</label>
                    <span class="stats-rooms">{{ user.rooms.length }}</span>
                </span>
            </p>
            <p>{{ user.bio }}</p>
        </div>
    </div>

    <div class="profile-content">

        {{#if userOwnProfile}}
            <div class="weather-infobox">
                <div class="weather-pic"><img src="{{ sessionSpecificData.weatherIconUrl }}" /></div>
                <p>Hello, {{ loggedInUsername }}! Today, {{ sessionSpecificData.weatherConditions }} in {{ sessionSpecificData.weatherLocation }} (the temperature is {{ sessionSpecificData.weatherTemperature }}°C). Take good care of your plants! 🌺🌿</p>
            </div>
        {{/if}}

        <div id="filters">
            <div class="filters-rooms">
                <p>Filter by rooms</p>
                <div class="rooms">
                    {{#if userOwnProfile}}
                        {{#each user.rooms}}
                            <div class="filter-button selected" room-name="{{ this.slug }}">{{ this.name }}</div>
                        {{/each}}   
                        <div class="filter-button selected" room-name="friends-rooms">Friends' Rooms</div>
                    {{else}}
                        {{#each sessionSpecificData.allowedRooms }}
                            <div class="filter-button selected" room-name="{{ this.slug }}">{{ this.name }}</div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            {{#if userOwnProfile}}
                <div class="profile-actions">
                    <a href="/plants/create" class="secondary-button">Add a plant</a>
                    <a href="/rooms" class="secondary-button">Manage rooms</a>
                </div>
                <div class="profile-actions-responsive">
                    <i class="bi bi-three-dots"></i>
                </div>
            {{/if}}
        </div>

        <p class="plants-count"></p>

        <div id="plants">
            {{#if userOwnProfile}}
                {{#each user.plants}}
                    <div class="plant" room-name="{{ this.room.slug }}" onclick="location.href = '/plants/details/{{ this._id }}';">
                        <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                            <div class="plant-actions">
                                <a href="/plants/edit/{{ this._id }}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </div>
                        <div class="card-title">
                            <h2>{{this.nickname}}</h2>
                            <span class="plant-room">{{ this.room.name }}</span>
                        </div>
                        <div class="card-content">
                            <p class="flex-row">
                                {{ this.commonName }}
                            </p>
                        </div>
                    </div>
                {{/each}}
                {{#each sessionSpecificData.friendsRooms }}
                    {{#each this.plants }}
                        <div class="plant" room-name="friends-rooms" onclick="location.href = '/profile/{{ this.parent.username }}';">
                            <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                                <div class="plant-actions">
                                    <a href="/profile/{{ this.parent.username }}"><i class="bi bi-person"></i></a>
                                </div>
                            </div>
                            <div class="card-title">
                                <h2>{{this.nickname}}</h2>
                                <span style="margin-right:-10px">
                                    <span class="plant-room">{{ this.parent.username }}</span>
                                    <img src="{{ this.parent.avatarUrl }}" alt="" class="card-invitee" /> 
                                </span>
                            </div>
                            <div class="card-content">
                                <p class="flex-row">
                                    {{ this.commonName }}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                {{#each sessionSpecificData.allowedRooms }}
                    {{#each this.plants }}
                        <div class="plant" room-name="{{ ../this.slug }}">
                            <div class="card-image" style="background-image:url('{{ this.image_url }}')">
                            </div>
                            <div class="card-title">
                                <h2>{{this.nickname}}</h2>
                                <span class="plant-room">{{ ../this.name }}</span>
                            </div>
                            <div class="card-content">
                                <p class="flex-row">
                                    {{ this.commonName }}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{/if}}
        </div>

    </div>

</div>