<div id="edit-room-page">

    <h1>Edit a room</h1>

    {{#if errorMessage }}
        <p class="error-message">{{ errorMessage }}</p>
    {{/if}}

    <form action="/rooms/{{ room._id }}/edit" method="POST">
        <label for="name">Name of your room:</label>
        <input type="text" name="name" id="name" value="{{ room.name }}"/>

        <div id="datalist-users">
        <label for="invitee" class="invitee-label">Invitees:</label>
            {{#each inviteesUsernames }}
                <p class="invitee invitee-{{ this }}">{{ this }}<i class="bi bi-x"></i></p>
            {{/each}}
            <input type="hidden" id="inviteesList" name="inviteesList" value="{{ inviteesUsernames }}">
            <input type="text" id="invitee" name="invitee" autocomplete="off">
            <div id="datalist-users-list">
                    {{#each users}}
                        <div class="datalist-user">
                            <div style="background-image:url('{{ this.avatarUrl }}')" class="datalist-user-pic"></div>
                            {{this.username}}<br/>
                        </div>
                    {{/each}}
            </div>
        </div><br><br>

        <input type="submit" value="Update room" class="button">
    </form>
    <br/>

    {{#if room.plants.length }}
        <button type="button" class="button button-delete" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:100%">
            Delete room
        </button>
    {{else}}
        <form action="/rooms/{{ room._id }}/delete" method="POST">
            <input type="submit" value="Delete room" class="button button-delete">
        </form>
    {{/if}}




<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete room – "{{ room.name }}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This room contains <b>{{ room.plants.length }} plants.</b><br/><br/>
        If you confirm, your room and all the plants it contains will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
        <form action="/rooms/{{ room._id }}/delete" method="POST">
            <input type="submit" value="Confirm" class="button button-delete">
        </form>
      </div>
    </div>
  </div>
</div>






</div>