<div class="room-actions"><h1>Manage Rooms</h1> 
</div>

<div id="rooms">
    <div class="room add-room">
        <a href="/rooms/create">
            <i class="bi bi-plus-lg"></i>
            <h2>Create a room</h2>
        </a>
    </div>

    {{#each user.rooms}}
        <div class="room">
            <div>
                <h2>{{ this.name }}</h2>
                <p class="stats">
                    <span class="stats-plants">{{ this.plants.length }} plants</span>
                </p>
                <div id="card-invitees">
                    {{#each this.inviteesId}}
                        <div class="card-invitee" style="background-image:url('{{ this.avatarUrl }}"></div>
                    {{/each}}
                </div>
            </div>
            <div class="room-actions">
                <a href="/rooms/{{ this._id }}/edit"><i class="bi bi-pencil-square"></i></a>
                <form action="/rooms/{{ this._id }}/delete" method="POST"><button><i class="bi bi-x-square"></i></button></form>
            </div>
        </div>
    {{/each}}
</div>