<div id="plant-details-page">

    <h1>Plant Details</h1>

    <h3>{{plant.nickname}}</h3>
    <img src="{{plant.image_url}}" alt="planty" height="150px" width="150px">
    <br>
    <br>
    <ul>
        <li>Common name: {{plant.commonName}}</li>
        <li>Suggested amounts of light: {{plant.light}}</li>
        <li>Type of light: {{plant.toleratedLight}}</li>
        <li>Watering schedule: {{plant.waterSchedule}}</li>
        <li>Minimum temperature (C): {{plant.minTemp}}</li>
        <li>Maximum temperature (C): {{plant.maxTemp}}</li>
        <li style="font-style: italic;">Latin name: {{plant.latinName}}</li>
    </ul><br/>

    <a href="/plants/edit/{{plant._id}}" class="button">Edit your babyz</a>

</div>