<div id="plant-details-page">

    <div id="plant-details">
        <div class="plant-picture" style="background-image:url('{{plant.image_url}}');"></div>
        <div class="plant-details-content">
            <div class="plant-actions">
                <h1>{{plant.nickname}}</h1>
                <a href="/plants/edit/{{plant._id}}" class="secondary-button">Edit your babyz</a>
            </div>
            <p class="flex-row">
                <i class="bi bi-flower1 card-icon"></i>
                <span><span class="card-label">Common Name</span><br/><b>{{plant.commonName}}</b></span>
            </p>
            <p class="flex-row">
                <i class="bi bi-flower1 card-icon"></i>
                <span><span class="card-label">Latin Name</span><br/><b>{{plant.latinName}}</b></span>
            </p>
            <p class="flex-row">
                <i class="bi bi-brightness-high card-icon"></i>
                <span><span class="card-label">Suggested Amounts of Light</span><br/><b>{{plant.light}}</b></span>
            </p>
            <p class="flex-row">
                <i class="bi bi-brightness-low card-icon"></i>
                <span><span class="card-label">Type of light</span><br/><b>{{plant.toleratedLight}}</b></span>
            </p>
            <p class="flex-row">
                <i class="bi bi-droplet card-icon"></i>
                <span><span class="card-label">Watering Schedule</span><br/><b>{{plant.waterSchedule}}</b></span>
            </p>
            <p class="flex-row">
                <i class="bi bi-thermometer-half card-icon"></i>
                <span><span class="card-label">Min/Max Temperature</span><br/><b>{{plant.minTemp}}°C / {{plant.maxTemp}}°C</b></span>
            </p>
            <br/>
        </div>
    </div>
    
</div>