<h2>Plant Details</h2>

Nickname: {{plant.nickname}}
<ul>
<li>Common name: {{plant.commonName}}</li>
<li>Suggested amounts of light: {{plant.light}}</li>
<li>Type of light: {{plant.toleratedLight}}</li>
<li>Watering schedule: {{plant.waterSchedule}}</li>
<li>Minimum temperature (C): {{plant.minTemp}}</li>
<li>Maximum temperature (C): {{plant.maxTemp}}</li>
<li>Latin name: {{plant.latinName}}</li>
</ul>

<a href="/plants/edit/{{plant._id}}"><button>Edit your babyz</button></a>
