<h2>Change {{plant.nickname}}'s deetz</h2>

<form action="/plants/edit/{{plant.id}}" method="POST">

   <label>
    <img src="{{plant.image_url}}" alt="planty" height="150px" width="150px">
    </label>
        <button>Change avatar</button>


    <label> New nickname
      <input type="text" name="nickname" placeholder="{{plant.nickname}}" />
    </label>

    <label for="room"> New plant's home:    
    </label>
    <select name="room">
    {{#each rooms}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
    </select>
  <button type="submit">Create plant</button>
  </form>
  <br>
  <form action="/plants/delete/{{plant._id}}" method="post">
    <button type="submit">Remove plant (RIP)</button>
    </form>
