<h2>Change {{plant.nickname}}'s deetz</h2>

<form action="/plants/edit/{{plant.id}}" method="POST">


    <label> New nickname
      <input type="text" name="nickname" placeholder="{{plant.nickname}}" />
    </label>

    <label for="room"> {{plant.nickname}}'s home    
    </label>
    <select name="room">
    {{#each allRooms}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
    </select>

    <button type="submit">Save changes</button>
  </form>
  <br>
  <form action="/plants/delete/{{plant._id}}" method="post">
    <button type="submit">Remove plant (RIP)</button>
    </form>
