<div id="edit-plant-page">
  <h1>Change {{plant.nickname}}'s deetz</h1>

  <form action="/plants/edit/{{plant.id}}" method="POST" enctype="multipart/form-data">
    <div>
      <div class="flex-row">
        <label>
          <img src="{{plant.image_url}}" class="plant-picture">
        </label>
        <div>
          <label for="avatar">Change plant avatar:</label>
          <label for="avatar" class="secondary-button" style="text-align: center;"><i class="bi bi-upload"></i> Upload</label>
          <input type="file" name="avatar" id="avatar" /><br />
          <p class="uploaded-file"></p>
        </div>
      </div>
      <label> New nickname
        <input type="text" name="nickname" value="{{plant.nickname}}" />
      </label>

      <label for="room"> {{plant.nickname}}'s home
      </label>
      <select name="room">
        {{#each rooms}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
      <br>
      <br>
      <button type="submit" class="button primary-button">Save changes</button>
    </div>
  </form>
  <br>
  <button type="button" class="button button-delete" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Remove plant (RIP)
  </button>
</div>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove plant – "{{ plant.nickname }}"</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this plant?<br/>
          You can undo this action.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Close</button>
          <form action="/plants/delete/{{plant._id}}" method="post">
              <input type="submit" value="Confirm" class="button button-delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>